<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.cwctravel.eclipse.plugins.dependencies.dependencyResolvers">
      <dependencyResolver
            class="com.cwctravel.eclipse.plugins.dependencies.resolvers.tfs.TFSDependenciesResolver">
      </dependencyResolver>
   </extension>

</plugin>
